<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.qsp.testPom.TestTC_01"/>
       <class name="org.qsp.testPom.TestTC_03"/>
        <class name="org.qsp.testPom.TestTC_04"/>
         <class name="org.qsp.testPom.TestTC_05"/>
          <class name="org.qsp.testPom.TestTC_07"/>
           <class name="org.qsp.testPom.TestTC_08"/>
            <class name="org.qsp.testPom.TestTC_09"/>
             <class name="org.qsp.testPom.TestTC_10"/>
              <class name="org.qsp.testPom.TestTC_11"/>
               <class name="org.qsp.testPom.TestTC_13"/>
                <class name="org.qsp.testPom.TestTC_14"/>
                 <class name="org.qsp.testPom.TestTC_15"/>
                  <class name="org.qsp.testPom.TestTC_16"/>
                   <class name="org.qsp.testPom.TestTC_17"/>
                    <class name="org.qsp.testPom.TestTC_19"/>
                     <class name="org.qsp.testPom.TestTC_20"/>
                      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
